<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <display-name>TasteTracker</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>loginController</display-name>
    <servlet-name>loginController</servlet-name>
    <servlet-class>admin.login.loginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginController</servlet-name>
    <url-pattern>/loginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>signupController</display-name>
    <servlet-name>signupController</servlet-name>
    <servlet-class>inventor.controller.signupController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signupController</servlet-name>
    <url-pattern>/signupController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>recipeController</display-name>
    <servlet-name>recipeController</servlet-name>
    <servlet-class>recipeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>recipeController</servlet-name>
    <url-pattern>/recipeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>recipeDAO</display-name>
    <servlet-name>recipeDAO</servlet-name>
    <servlet-class>inventor.dao.recipeDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>recipeDAO</servlet-name>
    <url-pattern>/recipeDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginInventorController</display-name>
    <servlet-name>loginInventorController</servlet-name>
    <servlet-class>inventor.controller.loginInventorController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginInventorController</servlet-name>
    <url-pattern>/loginInventorController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>commentController</display-name>
    <servlet-name>commentController</servlet-name>
    <servlet-class>comment.commentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>commentController</servlet-name>
    <url-pattern>/commentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>commentDAO</display-name>
    <servlet-name>commentDAO</servlet-name>
    <servlet-class>comment.dao.commentDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>commentDAO</servlet-name>
    <url-pattern>/commentDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RecipeController</display-name>
    <servlet-name>RecipeController</servlet-name>
    <servlet-class>recipe.RecipeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecipeController</servlet-name>
    <url-pattern>/RecipeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RecipeUploads</display-name>
    <servlet-name>RecipeUploads</servlet-name>
    <servlet-class>recipe.RecipeUploads</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecipeUploads</servlet-name>
    <url-pattern>/RecipeUploads</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommentController</display-name>
    <servlet-name>CommentController</servlet-name>
    <servlet-class>comment.CommentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentController</servlet-name>
    <url-pattern>/CommentController</url-pattern>
  </servlet-mapping>
</web-app>